slides/*
.ruff.toml
__pycache__/*
deepmimo_scenarios/*
deepmimo_scenarios_downloaded/*
.ipynb_checkpoints/*
data/*
logs/*
*.pkl
*.mat
*.csv
*.path
*.png
channel_experiment*
old/
results*/
matlab_examples/
ChPredMATLABExample/
ch_pred_*
nmse_cache/*