slides/*
.ruff.toml
__pycache__/*
deepmimo_scenarios/*
deepmimo_scenarios_downloaded/*
.ipynb_checkpoints/*
data/*
logs/*
*.pkl
*.mat
*.csv
*.path
*.png
channel_experiment*
old/
ch_pred_data/*
ch_pred_models/*
